@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
.main {
  min-height: 100vh;
  .header {
    height: 2vw;
    background-color: #00b686;
    display: flex;
    align-items: center;
    padding: 2vw;
  }
  .sections {
    display: flex;
    height: 100%;
    position: fixed;
    gap: 3vw;
    background-color: #366478;
    padding-bottom: 70px;
    width: -webkit-fill-available;

    &-options {
      font-size: 18px;
      background-color: whitesmoke;
      padding: 1vw;
      // width: 5vw;
      min-height: 100%;

      div {
        padding: 1vw 0;
      }
    }
    &-board {
      display: flex;
      flex-direction: column;
      min-width: 26vw;
      text-align: center;
      
      .title {
        font-size: 18px;
        margin-top: 2vw;
        background-color: rgb(231, 231, 80);
      }
      .plus-img {
        width: 30px;
        display: flex;
        align-self: self-end;
        margin-top: 20px;
        margin-right: 30px;
        cursor: pointer;
      }
      .board {
        margin: 1vw;
        overflow-x: hidden;
        background-color: antiquewhite;
    height: -webkit-fill-available;
      }
    }
  }
}
